.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .button-panel{
    margin:5px 0;
  }
  .mat-full-width {
    width: 100%;
    
    textarea{
        min-height: 500px;
    }
  }
  .iso-form{
    padding: 10px 0;
  }
  .error{
    color: #ff0000
  }