footer{
    position: absolute;
    bottom: 10;
    text-align: center;
    width: 100%;
}
footer p{
    margin: 0px;
}
footer a{
   color:#fff;
   font-size:1.5em;
   font-weight: 100;
   padding: 0 5px;
}